body.app-body {
  height: 100vh;
  display: flex;
  background-color: #f3f4f6; /* gray-100 */
  font-family: sans-serif;
}

.left-panel {
  width: 50%;
  background-image: url('fondo5.jpg'); /* Asegúrate de que la imagen esté en la misma carpeta o ajusta la ruta */
  background-size: cover;       /* Hace que la imagen cubra todo el área */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  color: white;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style:solid ;
  border-radius: 15px;
  border-color: white;
}

.logo {
  width: 10rem;
  margin-bottom: 2.5rem;
  margin: auto;
  display: block;
  width: 50%;
}

.main-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.right-panel {
  width: 50%;
  background-color: white;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-style:solid ;
  border-radius: 15px;
  border-color: white;
}

.section-title {
  color: #1f2937; /* gray-800 */
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.credentials-box {
  background-color: #f3f4f6;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
    position: relative;
  margin: 60px;
}

h2{
   position: relative;
  margin: 60px;
}

.label {
  font-size: 0.875rem;
  color: #4b5563;
  margin-bottom: 0.25rem;
}

.id-value {
  font-size: 1.5rem;
  font-family: monospace;
  margin-bottom: 0.75rem;
}

.password-value {
  font-size: 1.25rem;
  font-family: monospace;
  margin-bottom: 0.75rem;
}

.code-input {
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.login-button {
  background-color: #578FCA;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  transition: background 0.2s;
  cursor: pointer;
}

.login-button:hover {
  background-color: #205781;
   transition: background 0.2s;
}

.input-container{
  position: relative;
  margin: 30px;
  width: 250px;
}

input{
  width: 50%;
  padding:  12px 12px 12px 12px;
  background-color: #578FCA;
  border:  2px solid  #205781 ;
border-radius: 10px;
font-size: 16px;
outline: none;
color: #fff;
 

}

